{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    {% include 'partials/_messages.html' %}
   <h1>Student Index</h1>
    <p>
        <h3>Instructions to attend Exam</h3>
        <ul class="list-group">
            <li class="list-group-item">You can visit here to attend <a href="{% url 'view_exams_student' %}">
              <span data-feather="file"></span>
              Exams
            </a></li>
            <li class="list-group-item">You can check <a href="{% url 'student-previous' %}">
              <span data-feather="file"></span>
              Previous Exams and results here
            </a></li>
            <li class="list-group-item">Finally you can change personal preferences  <a href="{% url 'email-student-pref' %}">
              <span data-feather="file"></span>
              here
            </a> </li>
        </ul>
    </p>
</div>
{% endblock  %}