argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
bcrypt==4.0.1
cffi==1.16.0
Django==4.2.7
Pillow==10.1.0
pycparser==2.21
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
validate-email==1.3