{% extends 'base_auth.html' %}

{% block body %}
<style media="screen">
	*{
		color: #745959;
	}
</style>
<div class="row">
	<div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Change Password</h4>
                    </div>
                    <form action="{% url 'change_password' %}" method="post" "">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                            <div>
                                {% for field in form %}
                                    {% if field.errors %}
                                        {% for error in field.errors%}
                                            <div>
                                                <ul>
                                                    <li style="color:red;"> {{error}} </li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        <div class="form-group">
                            <label for = "id_old_password">{{ form.old_password.label_tag }} </label>
                            <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" class="form-control form-control-sm">
                        </div>
                        <div>
                            <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 9 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
                        </div>
                        <div class="form-group">
                            <label for = "id_new_password1">{{ form.new_password1.label_tag }} </label>
                            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for = "id_new_password2">{{ form.new_password2.label_tag }} </label>
                            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control form-control-sm">
                        </div>

                        {% comment %} <div class="invalid-feedback " style="display: none;">
                            <p>

                            </p>
                        </div>

                        <p class="text-sm text-success usernamevalidOut"></p>

                        <div class="form-group">
                            <label for = "email">Email</label>
                            {{student_form.email}}
                        </div>

                        <div class="email-feedback invalid-feedback" style="display: none">
                            <p>

                            </p>
                        </div>

                        <div>
                            {{student_info_form.as_p}}
                        </div>
                        <div class="form-group">
                            <label for = "password">{{ student_form.password.label_tag }} </label>
                                {{student_form.password}}
                            <small class="float-right py-2 showPasswordToggle">SHOW</small>
                        </div> {% endcomment %}

                        <input type="submit" value="Change" class = "btn btn-block" style="border-color:#745959; color:#745959;"/>

                    </form>
                </div>
            </div>

        </div>
	<div class="col-md-4"></div>
</div>


{% endblock  %}
