<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>
  <style media="screen">
    *{
      style="color: #745959;"
    }
  </style>
    <div class="container mt-5">
      <h1>Password reset sent<h1>
      <p class="lead">
          We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

          If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
      </p>
    </div>
</body>
</html>
