{% extends 'base_auth.html' %}

{% load static %}


{% block body %}


<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		
		<div class="card mt-5">

			<div class="card-body">
				<div class="card-title py-3">
				{% if form %}
				<h5>Please enter your passowrd twice</h5>
				</div>
				<form method="post">
					{% csrf_token %}

					{% include 'partials/_messages.html' %}

					<div class="form-group">
						{{form}}
					</div>


					<input type="submit" value="Submit" class = "btn btn-block btn-primary"/>

					{% else %}
					<div class="jumbotron">
						<p>
							You have already used this link.
							Please request a new one
						</p>
					</div>
				{% endif %}

			</form>
			<div class="container">
					<span class = "text-lead lead"> Dont have an account? </span><a href = "{% url 'register' %}" class="">Register</a>
					
					<br>

					<span class = "text-lead lead"> Already have an account? </span><a href = "{% url 'login' %}" class="">Login</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
<script src = "{% static 'js/register.js' %}" type="text/javascript"></script>
{% endblock %}