{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Portal</title>
     {% block css_block %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
     {% endblock %}
</head>
<body>
<style media="screen">
  *{
    color: #745959;
  }
  input[type=submit]:hover{
          background: #a3d5ff;
  }
</style>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a href="{% url 'index' %}" style="color:#745959" >Home</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav px-3" style="display:flex;flex-direction:row;align-items:center">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'email-student-pref' %}">Hi, {{request.user.username}}</a>
        </li>
      </ul>
    </nav>

    {% include 'partials/_sidebar.html' %}


      {% block body %}


      {% endblock %}

    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>
